*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.container{
  max-width: 1140px;
}


header{
  height: 90px;
  background-color: #4BA9BE;
}

ul li{
  list-style: none;
}

.header-top{
  display: flex;
  justify-content: space-evenly;
}

.img1{
  padding-top: 20px;
    margin-right: -74px;
  }

.sect-right {
  display: flex;

}

 .btn1{
  height: 34px;
  width: 93px;
  background-color: BLACK;
  color:white;
  font-size: 13px;
}

.sect-right .list ul li{
  color:white;
  padding-top: 36px;
  padding-left: 20px;
  display: inline-block;
  justify-content: flex-start;
}

.sect1{
  /* height: 650px; */
}

#jumbotron{
  height: 610px;
  background-image:url('../images/home_slider_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.middd-jum{
  height: 200px;
  width: 407px;
  position: relative;
  left: 125px;
  top: 62px;
  line-height: 3;
}

h1{
  font-size: 50px;
  color:white;
}
.middd-jum p {
  color:white;
  font-size: 15px;
}

.btn-no{
  height: 45px;
  width:158px;
  background-color: #4BA9BE;
  color:white;
  border-radius: 15px;
  border-color: darkgoldenrod;
}


main{
  height: 900px;
}

.text-middle{
  height: 200px;
  background-color:lightgrey;
  text-align: center;
}



.text-middle h4 {
  padding-top: 20px;
  line-height: 1.4;
  font-size: 10px;
}
.text-middle p {
  line-height: 1.5;
  padding-top: 10px;
  color: grey;
}

.sect2{
  background-color: white;
  height: 266px;
}

.title-news{
  text-align: center;
  line-height: 2;
  padding-top: 63px;
}

.news{
  font-size: 15px;
  font-weight:400;
}

.news2{
  font-size: 40px;
  font-family:sans-serif;
}
.ns2{
  height: 20px;
  width: 80px;
  border: 4px solid  #fc8c5e;
  text-align: center;
  position: relative;
    left: 587px;
    border-top: none;
    border-left: none;
    border-right:none;
}
.ns{
  height: 41px;
  width: 80px;
  border: 4px solid  #fc8c5e;
  text-align: center;
  position: relative;
    left: 587px;
    border-top: none;
    border-left: none;
    border-right:none;
}

.sect3{
  background-color: white;
  height: 350px;;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.underl{
  padding-top: 5px;
  font-size: 14px;
  font-weight: bolder;

}

.date{
  font-size: 13px;
  color:lightgrey;
  padding-top: 5px;
}



.dueces{
  padding-top: 10px;
  height: 65px;
  width:329px;
  color:grey;
  line-height: 1.4;


}


.sect4{
  height: 685px;
  background-color: white;
}
.jumbo-jun{
  position: relative;
  top: 30px;
  left:61px;
  height: 600px;
  width:90%;
background-image: url('../images/featured_article_1_bg.jpg');
background-repeat: no-repeat;
background-size: cover;

}


.texts-jubo{
  height: 90px;
  width: 958px;
  position: relative;
  top: 278px;
  left: 84px;
  line-height: 2;
}

.art{
font-size: 24px;
color:white;
}

.art3{
  color:white;
  font-size: 41px;

}

.art4{
  color:white;
}

.art5{
  font-size: 30px;
  color:white
}

.bt{
  height: 50px;
  width: 170px;
  background-color: black;
  color:white;
  border-radius: 15px;
  margin-top: 10px;
  border-color: darkgoldenrod;

}

.sect5{
  background-color: white;
  height: 417px;;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}

.sect6{
  height: 600px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.left-sect6{
  margin-left: 32px;

  height: 494px;
  width:745px;
  background-color: yellow;
}

.right-sect6{
  /* height: 494px; */
  width:343px;
  background-color: white;
  margin-right: 33px;

}

.du-right{
  height: 121px;
  width: 341px;
  background-color: white;
  margin-top: 11px;
}

.jumbxero{
  height: 497px;
  background-size: cover;
  background-image: url('../images/featured_article_2_bg.jpg');
}

.tut{
  font-size: 28px;
}

.im2{
  padding-left: 20px;
}

.tutimg{
  height: 90px;
}

.june{
  display: flex;
}

.line{
  border: 5px solid orange;
  height: 30px;
  width: 77px;
  border-top: none;
  border-left: none;
  border-right: none;
}


.listsyy{
  padding-top: 128px;
  height: 90px;
  line-height: 1.6;
  padding-left: 87px;
}

.sect7{
  height: 100px;
  background-color: black;
}



.pdf{
  padding-top: 50px;
}

.sect7jnr{
  height: 80px;
  color:white;
  text-align: center;
}

.sect8{
  height: 266px;
  background-color: lightgrey;
}

.sect9{
  height: 216px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-evenly;
}

.pdd{
  padding-right: 20px;
}
.raptors{
  height: 150px;
  width: 150px;
border-top: 4px solid lightblue;
 background-color: white;
}
.all{
  height: 84px;
    width: 80px;
    border-radius: 56px;
    /* padding-left: 5px; */
    margin-top: 30px;
    margin-left: 30px;

    background-color: orange;
}

.far4{
  font-size: 26px;
  padding-top: 29px;
    padding-left: 28px;
}
.raptop-p{
  font-size: 14px;
text-align: center;
   padding-top: 10px;

}

.sect10{
  height: 200px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-evenly;
}

.sect11{
  height: 100px;
  background-color: black
}

.sect12{
  /* background-color: red; */
}

.jujubi{
  background-image: url('../images/join_now_cta_bg.jpg');
  height: 395px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.juju-words{
  height: 90px;
  width: 824px;
padding-top: 100px;
padding-left: 419px;
}

.juju-words h2{
  font-size: 53px;
  color:white;
}
.white{
  color:white;
  line-height: 1.4;
  padding-bottom:30px;
  height: 90px;
  width: 400px;

}

.sect13{
  height: 200px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  padding-top: 74px;
}
.set13 h2{
  font-size: 24px;
  padding-left: 66px;
  padding-bottom: 13px;
}
.set13 input{
  width: 383px;
  height: 33px;
  padding-left: 4px;
}
.btbt{
  height: 33px;
  width: 150px;
  background-color: black;
  color:white;
  margin-left: 16px;
}

.sect14{
  height: 300px;
  background-color: pink;
}











/* ....//// */
